page-trainings {
  .training-calendar {
    border-bottom: solid 1px #dedfe4;
    min-height: 329px;
  }

  .training-calendar .mbsc-fr-btn {
    color: #f5a623 !important;
  }

  .training-calendar .mbsc-cal-today {
    color: #f5a623 !important;
  }

  .training-calendar .mbsc-selected .mbsc-cal-cell-txt {
    border-color: #f5a623 !important;
    background: #f5a623 !important;
    color: #fff !important;
  }

  .trainings-block {
    padding: 10px 15px;
  }

  .trainings-heading {
    display: inline-block;
    font-size: 13px;
    text-align: left;
    color: #000000;
    border-bottom: solid 1px #f5a623;
    margin-bottom: 15px;
  }

  .training-card {
    width: 100%;
    border-radius: 5px;
    border-left: 5px solid #f5a623;
    box-shadow: 0 2px 4px 0 #9b9b9b;
    margin: 0 0 10px;
  }

  .training-card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
